tests/Expected/DataProvider/TestMethodInputArrayOfScalars.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="localhost" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalars" targetNamespace="localhost">
  <types>
    <xsd:schema targetNamespace="localhost">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <portType name="PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalarsPort">
    <operation name="inputArraySimple">
      <input message="tns:inputArraySimpleIn"/>
    </operation>
    <operation name="inputArrayStrings">
      <input message="tns:inputArrayStringsIn"/>
    </operation>
    <operation name="inputArrayInt">
      <input message="tns:inputArrayIntIn"/>
    </operation>
    <operation name="inputArrayInteger">
      <input message="tns:inputArrayIntegerIn"/>
    </operation>
    <operation name="inputArrayDecimal">
      <input message="tns:inputArrayDecimalIn"/>
    </operation>
    <operation name="inputArrayFloat">
      <input message="tns:inputArrayFloatIn"/>
    </operation>
  </portType>
  <binding name="PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalarsBinding" type="tns:PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalarsPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="inputArraySimple">
      <soap:operation soapAction="localhost#inputArraySimple"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </output>
    </operation>
    <operation name="inputArrayStrings">
      <soap:operation soapAction="localhost#inputArrayStrings"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </output>
    </operation>
    <operation name="inputArrayInt">
      <soap:operation soapAction="localhost#inputArrayInt"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </output>
    </operation>
    <operation name="inputArrayInteger">
      <soap:operation soapAction="localhost#inputArrayInteger"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </output>
    </operation>
    <operation name="inputArrayDecimal">
      <soap:operation soapAction="localhost#inputArrayDecimal"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </output>
    </operation>
    <operation name="inputArrayFloat">
      <soap:operation soapAction="localhost#inputArrayFloat"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="localhost"/>
      </output>
    </operation>
  </binding>
  <message name="inputArraySimpleIn">
    <part name="array" type="soap-enc:Array"/>
  </message>
  <message name="inputArrayStringsIn">
    <part name="strings" type="soap-enc:Array"/>
  </message>
  <message name="inputArrayIntIn">
    <part name="ints" type="soap-enc:Array"/>
  </message>
  <message name="inputArrayIntegerIn">
    <part name="integers" type="soap-enc:Array"/>
  </message>
  <message name="inputArrayDecimalIn">
    <part name="decimals" type="soap-enc:Array"/>
  </message>
  <message name="inputArrayFloatIn">
    <part name="floats" type="soap-enc:Array"/>
  </message>
  <service name="PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalarsService">
    <port name="PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalarsPort" binding="tns:PHP2WSDL.Test.Fixtures.DataProvider.TestMethodInputArrayOfScalarsBinding">
      <soap:address location="localhost"/>
    </port>
  </service>
</definitions>
